*{
    overflow-x: hidden;
}

body {
    font-family: sans-serif;
    background-color: #b6b2b2;
  }
  
  table {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  header {
    background-color: #757474;
    color: #fff;
    padding: 20px;
  }

  table {
    margin: 0 auto;
  }

  h1 {
    font-size: 25px;
  }
  
  h2 {
    text-align: center;
  }

  p {
    text-align: center;
  }
  nav {
    margin-top: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
  }
  
  nav a:hover {
    background-color: #ccc;
  }
  
  section {
    padding: 20px;
  }

  footer {
    background-color: #535353;
    padding: 20px;
    color: #ffffff;
    text-align: center;
    
  }
  